<div class="container">
    <div class="raw">
        <div class="p-3 m-3">
            <p>{{ player.name }} played {{ player.choice }} and the Computer played {{ computer.choice}} </p>
            <p class="font-weight-bold"> {{ text }}</p>
            <br>
            <p class="font-weight-bold"> Score</p>
            <ul class="m-3 list-unstyled">
                <li>{{ player.name }} : {{ player.score }}</li>
                <li>Computer : {{ computer.score }}</li>
            </ul>

            <a href="game" class="btn btn-secondary btn-lg">Play Again</a>
        </div>
    </div>
</div>
