<div class="container">
    <div class="raw">
        <div class="text-center" *ngIf="notPlayYet; else alreadyPlayed">
            <h1>Remember</h1>
            <ul class="list-unstyled text-danger">
                <li>Rock crushes Scissors</li>
                <li>Scissors cuts Paper</li>
                <li>Paper covers Rock</li>
            </ul>

            <h1>Choose wisely</h1>

            <button type="button" name="Rock" class="m-3 btn btn-outline-danger btn-lg" (click)="chifoumi(1)"><img src="assets/imgs/hand-rock.png" alt="rock" width="100"></button>
            <button type="button" name="Scissors" class="m-3 btn btn-outline-danger btn-lg" (click)="chifoumi(2)"><img src="assets/imgs/hand-scissors.png" alt="Scissors" width="100"></button>
            <button type="button" name="Paper" class="m-3 btn btn-outline-danger btn-lg" (click)="chifoumi(3)"><img src="assets/imgs/hand-paper.png" alt="Paper" width="100"></button>

        </div>
        <ng-template #alreadyPlayed>
            <app-score></app-score>
        </ng-template>
    </div>
</div>
