<div class="container">
    <div class="raw">
        <div class="p-3 m-3">
            <h1>Remember</h1>
            <ul class="m-3 list-unstyled">
                <li>Rock crushes Scissors</li>
                <li>Scissors cuts Paper</li>
                <li>Paper covers Rock</li>
            </ul>

            <h1>Choose wisely</h1>

            <button type="button" name="Rock" class="m-3 btn btn-outline-secondary btn-lg" (click)="chifoumi('Rock')"><img src="assets/imgs/hand-rock.png" alt="Rock" width="100"></button>
            <button type="button" name="Scissors" class="m-3 btn btn-outline-secondary btn-lg" (click)="chifoumi('Scissors')"><img src="assets/imgs/hand-scissors.png" alt="Scissors" width="100"></button>
            <button type="button" name="Paper" class="m-3 btn btn-outline-secondary btn-lg" (click)="chifoumi('Paper')"><img src="assets/imgs/hand-paper.png" alt="Paper" width="100"></button>

        </div>
    </div>
</div>
